* {
    font-family: 'roboto', monospace;
}

.conversor-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    align-items: center;

}

.titulo-conversor {
    font-size: 17px;
}

.conversor-box input,
.conversor-box select {
    font-size: 17px;
    margin: 5px;
    text-align: center;
    height: 40px;
    width: 150px;
    border: none;
    padding-left: 10px;
    background-color: #f1f0f07c;
}

.linha-box {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seta {
    height: 50px;
}

#resultado {
    height: 40px;
    width: 150px;
    background-color: #f1f0f07c;
    font-size: 17px;
    display: flex;
    padding-left: 10px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.converter-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border: 1px solid #FFBD03;
    color: #FFBD03;
    transition: 0.2s;
}

.converter-btn:hover {
    color: #FFBD03;
    font-weight: bolder;
    padding: 7px 14px;
}

.converter-btn:active {
    border-color: black;
}

.infos-secao {
    margin-top: 20px;
    background-color: #f7f7f7;
    /* desabilitando função nova */
    display: none;
}

.titulo-infos {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.infos-cripto {
    display: flex;
    justify-content: center;
}

.informacoes {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.informacoes img {
    padding: 6px;
}

.informacoes ul {
    padding-left: 20px;
}

.informacoes li {
    padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .converter-btn:active {
        color: #000000;
        border-color: black;
    }
}